@charset "utf-8";

body {
    background-color: rgba(239, 239, 239, 1);
    font-size: 1.5rem;
}

.logo-wrapper {
    /* background: url('Images/jingshenwuran.jpeg'); */
    background-color: #3c8dbc;
    padding: 25px;
}

.logo-wrapper .logo {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 5rem;
    font-weight: 500;
}

.panel-title {
    color: #868686;
}

.form-group {
    display: table;
    width: 100%;
}

.form-label {
    color: #8a8a8a;
    padding-top: 7px;
}

.credentials {
    background: #eeeeee;
    padding: 22px 10px 7px;
    margin-bottom: 15px;
    margin-top: 20px;
}
