@charset "utf-8";
.blog-header {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.blog-header .blog-nav {
    display: block;
}

.blog-header .blog-nav li {
    border: width border-style color;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 15px;
    cursor: pointer;
}
.blog-header .blog-nav li:hover{
    background: rgba(0, 0, 0, 0.2);
}
